<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReservaAereas.Properties.Settings.lConnection" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=flujoaereo;Persist Security Info=True;User ID=sa;Password=Adminsa$"
            providerName="System.Data.SqlClient" />
        <add name="ReservaAereas.Properties.Settings.con" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=flujoaereo;Persist Security Info=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>